@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

.link {
	text-decoration: underline;
}

.link:hover {
	text-decoration: none;
}
