@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

.link {
	text-decoration: underline;
}

.link:hover {
	text-decoration: none;
}

.fade-75 {
	transition: opacity 75ms ease-in-out;
}
.fade-100 {
	transition: opacity 100ms ease-in-out;
}
.fade-150 {
	transition: opacity 150ms ease-in-out;
}
.fade-200 {
	transition: opacity 200ms ease-in-out;
}
